.user__item {
    margin-bottom: 20px; 
    color: black;
}

.user__item .active {
    color: red;
}

.img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

a {
    text-decoration: none;
   
}

