.nav {
    grid-area:n;
    
background: linear-gradient(#f0f3ac, #acaead);
;
}

.nav ul {
    list-style: none;
}
.nav__list {
    font-size: 24px;
    margin: 0;
    padding: 15px;
}

.nav__list li {
    margin-bottom: 20px;
}

.nav__list a {
    text-decoration: none;
    color: green;
}

a.active {
    color: rgb(111, 255, 111);
    font-weight: bold;
}